################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryManagement.API/.vs/InventoryManagement.API
/InventoryManagement.API/InventoryManagement.API/bin/Debug/net8.0
/InventoryManagement.API/InventoryManagement.API/obj/Debug/net8.0/InventoryManagement.API.AssemblyInfo.cs
/InventoryManagement.API/InventoryManagement.API/obj/Debug/net8.0/InventoryManagement.API.AssemblyInfoInputs.cache
